*{
    margin: 0;
    padding: 0;
}
.everything{
    max-width: 1000px;
    font-family: sans-serif;
    margin: auto;
}
nav{
    width: 100%;
    background-color: lightblue;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li{
    padding: 1rem;
}
nav ul li:hover{
    background-color: blue;
}