@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
	scrollbar-width: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
.link{
    text-decoration: underline;
}
.link:hover{
    color: lightgray;
    cursor: pointer;
    text-decoration: underline;
}
body{
    background-image: url("https://www.transparenttextures.com/patterns/p6.png");
}
/*
a{
    color: black;
}
a:visited{
    color: black;
}
a:hover{
    color: darkgray;
}
*/
#main p:last-child{
    padding-bottom: 5rem;
}
#main{
/*    background-color: #e6dc98;*/
/*    background-image: url("https://www.transparenttextures.com/patterns/retina-wood.png");*/
}
.everything{
    max-width: 1000px;
    font-family: "Fjalla One", sans-serif;
    margin: auto;
}
.header img{
    position: relative;
}
.header{
    background-image: url("img/grantbanner.png");
    background-size: cover;
    height: 200px;
    color: white;
}
.header h1{
    margin-top: 2rem;
    text-align: center;
    padding: 1rem 1rem 0.5rem;
    text-shadow: 0px 0px 10px black;
}
.header p {
    text-align: center;
    padding: 0.5rem 1rem 1rem;
    text-shadow: 0px 0px 10px black;
}
nav{
    width: 100%;
    background-color: hsl(200, 50%, 80%);
}
nav ul{
    display: flex;
/*    justify-content: space-between;*/
    list-style: none;
}
nav ul li{
    padding: 1rem;
}
nav ul li:hover{
    background-color: hsl(200, 50%, 50%);
    cursor: pointer;
}

.mainimg{
    width:50%;
    margin: auto;
    display: block;
}
#main{
    overflow: scroll;
}

#navToggle{
    position: absolute;
    top: 10px;
    right: 10px;
}
#navToggle span
{
  display: none;
  width: 43px;
  height: 9px;
  margin-bottom: 5px;
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
}
#navToggle span:first-child
{
  transform-origin: 0% 0%;
}
#navToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
h2{
    text-align: center;
    padding: 0.5rem;
}


/*ABOUT PAGE*/
.aboutdivs{
    display: block;
}
.row{
    display: flex;
}
.aboutdiv{
    width: 50%;
    height: auto;
}
.aboutimg{
    margin: 1rem auto;
    display: block;
    border-radius: 0.3rem;
}
.aboutdiv p{
    text-align: justify;
    margin: auto;
    width: 70%;
}
.aboutp{
    width: 80%;
    text-align: center;
    margin: 2rem auto;
}


/*CONTACT US*/
form{
    width: 50%;
    margin: auto;
}
form input, form select, form textarea{
    margin:0.5rem auto 0rem;
    display: block;
    padding: 0.5rem;
    font-size: 1.3rem;
    width: 90%;
    border: 3px solid black;
    border-radius: 0.3rem;
}
form select{
    width: 95%;
}
form textarea{
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: 100px;
    min-height: 50px;
    max-height: 400px;
}
.submit{
    width: auto !important;
    padding: 1rem 2rem;
    margin-bottom: 5rem;
}
.submit:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.label{
    margin-left: 1rem;
    transform: translateY(0.3rem);
}
.contactp{
    text-align: center;
    margin-bottom: 1rem;
}

/*FAQ*/
.faq{
    width: 80%;
    margin: 2rem auto;
}
/*LOCATION*/
.copy{
    border: 1px solid black;
    padding: 1rem;
    width: 26%;
    margin: 0rem auto 1rem;
}
.copyimg{
    width: 16px;
    margin: 0rem 0rem 0rem 1rem;
}

/*LINKS*/
.linkdiv{
    width: 40%;
    margin: auto;
    padding-bottom: 1rem;
}
.linkdiv a{
    font-size: 1.6rem;
    color: black;
}
.linkdiv a:hover{
    color: darkgray;
    cursor: pointer;
}
.linkspan{
    text-decoration: none !important;
}

/*PHOTOS*/
.photogallery{
    width: 200px;
    margin: auto;
}
.photogallery li{
    border-top: 1px solid hsl(200, 50%, 50%);
}
.photogallery li:first-child{
    border-top: none;
}
.photogallery li{
    background-color: hsl(200, 50%, 80%);
    margin: auto;
    text-align: center;
    padding: 1rem 0rem;
}
.photogallery li:hover{
    color: hsl(200, 50%, 80%);
    background-color: black;
    cursor: pointer;
}

#mainpic{
    width: 515px;
    margin: auto;
    display: block;
}
.images{
    margin: 1rem auto 5rem;
    display: block;
    width: 515px;
}
.images img{
    width: 100px;
}


footer{
    width: 100%;
    background-color: hsl(200, 50%, 80%);
}
footer ul{
    display: flex;
/*    justify-content: space-between;*/
    list-style: none;
}
footer ul li{
    padding: 0.2rem 1rem;
}
footer ul li:hover{
    background-color: hsl(200, 50%, 50%);
}

@media only screen and (max-width: 1000px){
    #main{
        min-height: 500px !important;
        padding: 1rem;
    }
    .mainimg{
        width: 90%;
    }
    .header{
        height: 100px !important;
    }
    .header h1{
        margin-top: 0rem;
        text-align: left;
        font-size: 1.6rem;
        padding: 1rem 0.5rem 0.25rem;
        text-shadow: 0px 0px 10px black;
    }
    .header p {
        font-size: 0.5rem;
        text-align: left;
        padding: 0.25rem 0.5rem 0.5rem;
        text-shadow: 0px 0px 10px black;
    }
    nav{
        display: none;
    }
    nav ul{
        display: block;
    }
    nav ul li{
        width: 100%;
    }
    .row{
        display: block;
    }
    .aboutdiv{
        width: 100%;
    }
    form{
        width: 90%;
    }
    footer{
        width: 100%;
        position: relative;
    } 
    footer ul{
        display: block;
    }
    footer ul li{
        padding: 1rem 0rem;
        text-align: center;
        width: 100%;
    }
    #navToggle span{
        display: block;
    }
    .aboutdiv p{
        width: 90%;
    }
    .aboutp{
        width: 90%;
    }
    .faq{
        width: 100%;
        margin: 2rem auto;
    }
    .copy{
        border: 1px solid black;
        padding: 0.5rem;
        width: 80%;
        margin: 0rem auto 1rem;
    }
    .linkdiv{
        width: 90%;
    }
    #mainpic{
        width: 100%;
    }
    .images{
        width: auto;
    }
}